@font-face {
    font-family: 'DubhchloGC-Regular';
    src: url('DubhchloGC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

input[type="checkbox"] {
    accent-color: rgb(255, 255, 255);
}

label{
    font-family: 'DubhchloGC-Regular';
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    padding: 20px;
    background: #696;
}

h1 {
    margin: 0;
    font-family: 'DubhchloGC-Regular';
    color: #fff;
}

section {
    padding: 20px;
}

h2 {
    border-left: 6px solid #696;
    padding-left: 10px;
    margin-bottom: 15px;
}

.row {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.card {
    min-width: 220px;
    background: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
    padding-bottom: 20px;
}

.card a {
    color: #696;
    text-decoration: none;
    font-size: 14px;
}

.loading {
    padding: 20px;
}

span {
    font-weight: bolder;
}